/*
 * Copyright (c) 2013 by Gerrit Grunwald
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/******************************************************************************
 * SIMPLERADARCHART class                                                     *
 *****************************************************************************/
.simple-radar-chart {
    -fx-skin         : "eu.hansolo.enzo.charts.skin.SimpleRadarChartSkin";
    -chart-background: #ffffff;
    -chart-foreground: #dddddd;
    -chart-text      : #5c7490;        
    -chart-fill      : #8b8a8f;
    -chart-stroke    : #8b8a8f;
    -zero-line-color : #f00000;
}

.simple-radar-chart > .title {
    -fx-fill: -chart-text;
}

.simple-radar-chart > .unit {
    -fx-fill: -chart-text;
}

.simple-radar-chart > .range {
    -fx-background-color : -chart-text, rgba(255, 255, 255, 0.8);
    -fx-background-radius: 5, 4;
    -fx-background-insets: 0, 1;
    -fx-alignment        : center;
    -fx-text-alignment   : center;
    -fx-label-padding    : 0 3 0 3;
    /*-fx-effect           : dropshadow(two-pass-box, rgba(255, 255, 255, 0.6), 5, 0.9, 0, 0);*/
    -fx-text-fill        : -chart-text;
}
